In [1]:
import networkx as nx 
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [2]:
columns = ['0','1']
data = pd.read_csv("Data/facebook_combined.txt",sep=' ')
data.head()

   0  1
0  0  2
1  0  3
2  0  4
3  0  5
4  0  6

In [3]:
G1 = nx.read_edgelist("Data/facebook_combined.txt",create_using=nx.DiGraph(),nodetype=int)

In [4]:
Nodes = np.array(G1.nodes)
Edges = np.array(G1.edges)

In [5]:
Out_degree = dict(G1.out_degree(Nodes))
In_degree = dict(G1.in_degree(Nodes))

In [6]:
max_out_degree = max(zip(Out_degree.values(),Out_degree.keys()))
print(f"Node: {max_out_degree[1]} \nDegree: {max_out_degree[0]}")

Node: 107
Degree: 1043

In [7]:
max_in_degree = max(zip(In_degree.values(),In_degree.keys()))
print(f"Node: {max_in_degree[1]} \nDegree: {max_in_degree[0]}")

Node: 1888
Degree: 251

In [8]:
sample_node = 107
In_degree[107]/(In_degree[107]+Out_degree[107])**2

1.8314599024747603e-06

In [9]:
from sources.Fitness import FitnessFunc
seed_nodes = pd.DataFrame(columns=['Nodes','Fitness'])
Nodes_= FitnessFunc(In_degree,Out_degree,G1)[0]
Fitness_ = FitnessFunc(In_degree,Out_degree,G1)[1]
seed_nodes["Nodes"] = Nodes_
seed_nodes['Fitness'] = Fitness_
seed_nodes.head()

   Nodes  Fitness
0      0  0.00000
1      1  0.00346
2      2  0.01000
3      3  0.00346
4      4  0.01000

In [10]:
sorted_seed = seed_nodes.sort_values('Fitness',ascending=False)

In [11]:
sorted_seed.head()

      Nodes  Fitness
1764    608      1.0
114     114      1.0
2711   3183      1.0
2612   3071      1.0
1696    550      1.0

In [12]:
sorted_seed[sorted_seed['Fitness']==1.]

      Nodes  Fitness
1764    608      1.0
114     114      1.0
2711   3183      1.0
2612   3071      1.0
1696    550      1.0
...     ...      ...
2037    892      1.0
872    1386      1.0
3987   3984      1.0
1319   1834      1.0
2575   3031      1.0

[75 rows x 2 columns]

In [13]:
sorted_seed['Fitness'].unique().shape

(1708,)